[Unit]
Description=MonitorC gRPC Agent
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/proyecto-asg
Environment=PYTHONPATH=/opt/proyecto-asg
ExecStart=/usr/bin/python3 -u -m monitor_c.server
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
